@import "header";
@import "logo";
@import "menu";
@import "toggle";
@import "language";

@import "content-front";
@import "services-block";
@import "guarantees-block";
@import "guarantees-list";
@import "about-block";
@import "form-block";

@import "content";

@import "contacts";
@import "error-404";

@import "button";
@import "arrows";

@import "footer";
@import "menu-bottom";
@import "social";