.about-block{
	padding: 0 0 452px;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		top: -121px;
		left: 50%;
		margin: 0 0 0 -285px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 285px 125px 285px;
		border-color: transparent transparent #ffffff transparent;
		//mobile
		@include break3{
			display: none;
		}
	}
	//mobile
	@include break3{
		padding: 0;
	}
	&_wrap{
		max-width: $width;
		padding: 0 10px;
		margin: 0 auto;
		//mobile
		@include break3{
			padding: 55px 10px 30px;
		}
	}
	&_title{
		margin: -4px 0 85px;
		text-align: center;
		//mobile
		@include break3{
			margin: 0 0 25px;
			text-align: left;
		}
	}
	&_text{
		width: 570px;
		margin: 0 auto;
		p{
			margin: 0 0 18px;
			letter-spacing: 0.25px;
		}
		//mobile
		@include break3{
			width: 100%;
		}
	}
}