.contacts{
	min-height: 920px;
	padding: 108px 0 0;
	background: #1b1815 url('../images/bg-contacts.jpg') 50% -80px no-repeat;
	//mobile
	@include break3{
		min-height: 0;
		padding: 55px 0 225px;
		background: #1b1815 url('../images/bg-contacts-mobile.jpg') 50% top no-repeat;
	}
	&_title{
		text-align: center;
		margin: 0 0 50px;
		color: #fff;
		//mobile
		@include break3{
			text-align: left;
			margin: 0 0 31px;
			padding: 0 10px;
		}
	}
	&_wrap{
		width: 330px;
		margin: 0 auto;
		position: relative;
		z-index: 1;
		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			top: 9px;
			left: 6px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 42px 0 258px 343px;
			border-color: transparent transparent transparent #a0a0a0;
			transform-origin: 0 0;
			transform: rotate(18deg);
			opacity: 0.5;
		}
		&:after{
			content: '';
			position: absolute;
			left: -91px;
			top: 293px;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background-color: #fff;
		}
		//mobile
		@include break3{
			width: 100%;
			margin: 0;
			&:before{
				display: none;
			}
			&:after{
				left: 50%;
				top: 208px;
			}
		}
	}
	&_content{
		height: 157px;
		margin: 0 0 0 5px;
		padding: 15px 36px;
		background-color: #fff;
		//mobile
		@include break3{
			margin: 0;
			padding: 21px 10px;
		}
		p{
			margin-bottom: 18px;
		}
		a{
			@include link(#000, #000);
		}
	}
}