.form-block{
	position: relative;
	&_position{
		width: 799px;
		max-width: 799px;
		margin: 0 0 0 -400px;
		padding: 96px 0 99px;
		position: absolute;
		z-index: 1;
		top: -358px;
		left: 50%;
		background-color: #000;
		text-align: center;
		//tablet2
		@include break2{
			width: 700px;
			margin: 0 0 0 -350px;
		}
		//mobile
		@include break3{
			width: 100%;
			margin: 0;
			padding: 55px 10px 60px;
			position: static;
			text-align: right;
		}
	}
	&_title{
	  color: #fff;
	  letter-spacing: 0.5px; 
	  //mobile
		@include break3{
			text-align: left;
		}
	}
	&_wrap{
		width: 566px;
		margin: 0 auto 19px;
		padding: 66px 0 0;
		@include clearfix;
		//mobile
		@include break3{
			width: 100%;
			margin: 0 auto 34px;
			padding: 32px 0 0;
			text-align: left;
		}
	}
	&_left{
		float: left;
		width: 50%;
		padding: 0 10px 0 0;
		//mobile
		@include break3{
			float: none;
			width: 100%;
			padding: 0;
		}
	}
	&_right{
		float: left;
		width: 50%;
		padding: 0 0 0 10px;
		//mobile
		@include break3{
			float: none;
			width: 100%;
			padding: 0;
		}
	}
	&_input{
		height: 39px;
		line-height: 39px;
		margin: 0 0 19px;
		padding: 0 16px 2px 16px;
		width: 100%;
		background-color: transparent;
		border: 1px solid rgba(255,255,255,.3);
		transition: border-color 0.2s;
		color: #fff;
		font-size: 13px;
		letter-spacing: 0.2px;
		&:hover,
		&:focus{
			border-color: rgba(255,255,255,1);
		}
		//mobile
		@include break3{
			margin: 0 0 15px;
		}
	}
	&_textarea{
		width: 100%;
		height: 155px;
		padding: 10px 16px;
		resize: none;
		background-color: transparent;
		border: 1px solid rgba(255,255,255,.3);
		transition: border-color 0.2s;
		color: #fff;
		font-size: 13px;
		letter-spacing: 0.2px;
		&:hover,
		&:focus{
			border-color: rgba(255,255,255,1);
		}
	}
}