.menu{
	float: right;
	font-family: $font;
	//mobile
	@include break3{	
		visibility: hidden;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;	
		&__on{
			visibility: visible;
			cursor: pointer;
			background-color: rgba(0,0,0,.5);
		}
	}
	&_wrap{
		@include break3{
			padding: 27px 0 0;
			//width: 70%;
			width: 100%;
			//height: 100%;
			height: auto;
			background-color: #fff;
			cursor: default;
			position: absolute;
			//top: 0;
			//left: -70%;
			bottom: -300px;
			left: 0;
			transition: all 0.2s;
			.menu__on &{
				transform: translateY(-300px);
			}
		}
	}
	&_link{
		display: inline-block;
		margin: 0 0 0 43px;
		font-size: 14px;
		line-height: 1;
		@include link(rgba(255,255,255,.6), rgba(255,255,255,.6));
		font-family: $font;
		text-transform: uppercase;
		//underline
		position: relative;
		&:before{
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			left: 0;
			bottom: 0;
			background-color: #fff;
			opacity: 0;
			transition: opacity 0.2s;
		}
		&:hover{
			text-decoration: none;
			&:before{
				opacity: 0.6;
			}
		}
		&__active{
			@include link(rgba(255,255,255,1), rgba(255,255,255,1));
			&:hover{
				&:before{
					display: none;
				}
			}
		}
		//tablet
		@include break2{
			margin: 0 0 0 18px;
		}
		//mobile
		@include break3{
			display: block;
			margin: 0 0 21px 35px;
			@include link(#878787, $black);
			&__active{
				@include link($black, $black);
			}
		}
	}
}