*,
*:before,
*:after{
  box-sizing: border-box;
}
body{
  min-width: 320px;
  font-family: opensans;
  font-size: 12px;
  line-height: 18px;
  color: $black;
  &.fixed{
    padding: 124px 0 0;
  }
  //mobile
	@include break3{
		padding: 77px 0 0;
    &.fixed{
      padding: 77px 0 0;
    }
	}
}
h1{
  font-family: $fontBold;
  font-size: 45px;
  line-height: 1;
  text-transform: uppercase;
}
h2{
  font-family: $fontBold;
  font-size: 35px;
  text-transform: uppercase;
}
h3{
  font-family: $fontContent;
  font-size: 14px;
}
h4{
  font-family: $fontContent;
  font-size: 13px;
}
p{
  font-size: 12px;
}
a{
  text-decoration: none;
}
b, strong{
  //font-family: $fontContentBold;
  font-weight: bold;
}
em{
  font-style: italic;
}
button, input[type="reset"], input[type="button"], input[type="submit"] {
  box-shadow: none;
}
a, input, textarea, select, button, div{
  &:focus{
    outline: none;
  }
}
pre{
  word-wrap: break-word;
}
::-webkit-input-placeholder {
  font-family: $fontContent;
  font-size: 13px;
  color: rgba(255,255,255,.7);
}
:-moz-placeholder {
  font-family: $fontContent;
  font-size: 13px;
  color: rgba(255,255,255,.7);
}
::-moz-placeholder {
  font-family: $fontContent;
  font-size: 13px;
  color: rgba(255,255,255,.7);
}
:-ms-input-placeholder {
  font-family: $fontContent;
  font-size: 13px;
  color: rgba(255,255,255,.7);
}
::-ms-input-placeholder {
  font-family: $fontContent;
  font-size: 13px;
  color: rgba(255,255,255,.7);
}
:placeholder-shown {
  font-family: $fontContent;
  font-size: 13px;
  color: rgba(255,255,255,.7);
}