*,
*:before,
*:after{
  box-sizing: border-box;
}
.temp{
  height: 2761px;
}
body{
  min-width: 320px;
  font-family: opensans;
  font-size: 12px;
  line-height: 18px;
  color: $black;
  //mobile
	@include break3{
		padding: 77px 0 0;
	}
  .fira{

  }
}
a{
  text-decoration: none;
}
b, strong{
  font-family: opensansbold;
}
em{
  font-style: italic;
}
button, input[type="reset"], input[type="button"], input[type="submit"] {
  box-shadow: none;
}
a, input, textarea, select, button, div{
  &:focus{
    outline: none;
  }
}
pre{
  word-wrap: break-word;
}