*,
*:before,
*:after{
  box-sizing: border-box;
}
.temp{
  height: 2761px;
}
body{
  min-width: 320px;
  font-family: opensans;
  font-size: 12px;
  line-height: 18px;
  color: $black;
  //mobile
	@include break3{
		padding: 77px 0 0;
	}
}
h1{
  font-family: $fontBold;
  font-size: 45px;
  line-height: 1;
  text-transform: uppercase;
}
h2{
  font-family: $fontBold;
  font-size: 35px;
  text-transform: uppercase;
}
h3{
  font-family: $fontContent;
  font-size: 14px;
}
h4{
  font-family: $fontContent;
  font-size: 13px;
}
p{
  font-size: 12px;
}
a{
  text-decoration: none;
}
b, strong{
  font-family: opensansbold;
}
em{
  font-style: italic;
}
button, input[type="reset"], input[type="button"], input[type="submit"] {
  box-shadow: none;
}
a, input, textarea, select, button, div{
  &:focus{
    outline: none;
  }
}
pre{
  word-wrap: break-word;
}